* {
  box-sizing: border-box;
}

@import "./common/font/iconfont.css";
@import "./components/button/index.less";
@import "./components/cell/index.less";
@import "./components/checklist/index.less";
@import "./components/field/index.less";
@import "./components/radio/index.less";
@import "./components/header/index.less";
@import "./components/switch/index.less";
// dialog
.lmui-dialog-container {
  background-color: #fff;
  border-radius: 3px;
}

// taost样式
.lmui-toast {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5% 7%;
  box-shadow: 0 0 10px #626262;
  color: #fff;
  border-radius: 5px;

  .lmui-dialog-body {
    text-align: center;
    font-size: 14px;
  }
}
